html, body {
	width: 100%;
	height: 100%;
}

body {
	background-color: #ffffff;
	margin: 0;
	overflow: hidden;
	font-family: arial;
}

/* GUI TEXT */
h1 {
    font-family: "Dustismo Bold", Helvetica, Arial, sans-serif;
    color: #fff;
    font-size: 20px;
    margin: 0 auto;
    text-align: center;
    text-shadow:
	-1px 0px 1px #3b3b3b,
	0px 1px 1px #3b3b3b,
	1px 0px 1px #3b3b3b,
	0px -1px 1px #3b3b3b;
}

/* TIMER NUMBER TEXT */
h2 {
    font-family: "Adventuring", Helvetica, Arial, sans-serif;
    color: #fff;
    font-size: 45px;
    margin: 0 auto;
    text-align: center;
    text-shadow:
	-1px 0px 1px #94dffe,
	0px 1px 1px #94dffe,
	1px 0px 1px #94dffe,
	0px -1px 1px #94dffe;
}

/* BUNNY KILL TEXT */
h3 {
    font-family: "Adventuring", Helvetica, Arial, sans-serif;
    font-size: 50px;
    background: -webkit-linear-gradient(top, #29bffe 0%, #d4f2ff 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 5px white;
    margin: 0 auto;
    text-align: center;
}

/* NOTIFICATIONS TEXT */
h4 {
    font-family: "Adventuring", Helvetica, Arial, sans-serif;
    font-size: 40px;
    background: -webkit-linear-gradient(top, #feba29 0%, #ffedc8 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 2px white;
    margin: 0 auto;
    text-align: center;
}

#blocker {

	position: absolute;

	width: 100%;
	height: 100%;

	background-color: rgba(0,0,0,0.5);

}

#instructions {

	width: 100%;
	height: 100%;

	display: -webkit-box;
	display: -moz-box;
	display: box;

	-webkit-box-orient: horizontal;
	-moz-box-orient: horizontal;
	box-orient: horizontal;

	-webkit-box-pack: center;
	-moz-box-pack: center;
	box-pack: center;

	-webkit-box-align: center;
	-moz-box-align: center;
	box-align: center;

	color: #ffffff;
	text-align: center;

	cursor: pointer;

}

.gui {
	z-index: 50;
}

#loading {
	display: block;
	margin: auto;
}

#vacuumChargeBar {
	background: -webkit-linear-gradient(top, #e7d9bb 0%, #faf3e5 100%);
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border: 5px solid #fff;
}

#statusBox {
	position: absolute;
	text-align: center;
	display: inline;
  	right: 10px;
 	top: 10px;
	width: 200px;
	height: 170px;
	border: 2px solid rgba(255, 255, 255, 0.2);
 	background: rgba(100, 100, 100, 0.2);
 	-moz-border-radius: 10px;
 	-webkit-border-radius: 10px;
	padding: 10px;
}

#notify {
	position: absolute;
	text-align: center;
	display: inline;
	top: 10px;
  	left: 50%;
	margin-left: -450px;
	width: 900px;
 	background: transparent;
	padding: 10px;
}

.ui-progressbar-value {
	background: -webkit-linear-gradient(top, #29bffe 0%, #d4f2ff 100%);
}
